/* ---------------------- СЕКЦІЯ БЛОГУ ---------------------- */
.blog > h1 {
  text-align: center;
  font-weight: 700;
  font-size: 38px;
  margin-bottom: 30px;
}

.blog_items {
  display: flex;
  gap: 30px;
  row-gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
}

.blog_item {
  min-width: 270px;
  width: calc(25% - 30px);
}

.blog_item > img {
  aspect-ratio: 1 / 1;
  width: 100%;
  object-fit: cover;
  margin-bottom: 20px;
}

.blog_item > span {
  font-weight: 700;
}

/* ---------------------- АДАПТИВНІСТЬ ДЛЯ БЛОГУ ---------------------- */
@media (max-width: 500px) {
  .blog_item {
    width: 100%;
  }
}
